<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/structure/head.ejs') %>
</head>
<body>
<header>
    <%- include ('partials/structure/header.ejs') %> 
</header>
<div>   
    <h1> <%= albumName %>  </h1>

    <img src="/images/<%= albumCover %> " height="300px">
    <h4> Released: <%= released %>  </h4>
    <p> <%= description %>  <p>
        <h4> Track List </h4>
        <ul> 
            <% tracks.forEach(trackObj =>{ %> 
            <li><%= trackObj %></li>  
            <% }) %>
        </ul>
</div>
</body>
</html>


