<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/structure/head.ejs') %>
    
</head>
<header>
    <%- include ('partials/structure/header.ejs') %> 
</header>
<body>

    <!-- <h1> <%= bandName %>  </h1> <br> -->
    <div class="fullPage">
        <h4> Formed in <%= formed %>  </h4> <br>
        <p> <%= descritpion %>  </p> <br> 
        <h2 text-align: center> Band Members </h2>
        <div class="album">
            <a href="https://en.wikipedia.org/wiki/Mike_Shinoda">Mike Shinoda<br><img src="/images/mike.jpeg" width="300" height="300" alt=""></a>
            <a href="https://en.wikipedia.org/wiki/Chester_Bennington">Chester Bennington<br><img src="/images/Chester.jpeg" width="300" height="300" alt=""></a>
            <a href="https://en.wikipedia.org/wiki/Joe_Hahn">Joe Hahn<br><img src="/images/joe.jpeg" width="300" height="300" alt=""></a>
            <a href="https://en.wikipedia.org/wiki/Rob_Bourdon">Rob Bourdon<br><img src="/images/rob.jpeg" width="300" height="300" alt=""></a>
            <a href="https://en.wikipedia.org/wiki/Brad_Delson">Brad Delson<br><img src="/images/brad.jpeg" width="300" height="300" alt=""></a>
            <a href="https://en.wikipedia.org/wiki/Dave_Farrell">Dave Farrell<br><img src="/images/dave.jpeg" width="300" height="300" alt=""></a>
        </div>
    </div>

</body>
</html>